.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.home-title {
  margin: 3rem 0 2rem 0;
  text-align: center;
  font-size: 2rem;
}

.home-nav a {
  display: block;
  line-height: 3.4rem;
  font-size: 1.4rem;
  color: #343434;
  text-align: center;
}

.home-tips {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 3rem;
  text-align: center;
  font-size: .6rem;
}