.item {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.item-tab {
  height: 2rem;
  display: flex;
  background: #fff;
  box-shadow: 0 .1rem .4rem #eee;
}

.item-tab div {
  flex: 1;
  display: flex;
  justify-content: center;
  line-height: 1.9rem;
  font-size: .8rem;
}

.item-tab div.active {
  position: relative;
  background: #EDF5F5;
}

.item-tab div.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #73D9D9;
}